<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Intern Task!</title>
</head>
<body>
<div align="center">
    <h1>Index : Create InvertedIndex <a href="/index"><button>Index</button></a></h1>
    <h1>Clear : Clear the whole InvertedIndex <a href="/clear"><button>Clear</button></a></h1>
    <h1>Search : Search InvertedIndex <a href="/search"><button>Search</button></a></h1>
    <h1>Upload : Add Multiple PDF or Image to index them <a href="/upload"><button>Upload</button></a></h1>
    <h1>View : View InvertedIndex <a href="/viewindex"><button>View</button></a></h1>

</div>
</body>
</html>
